<div class="row bg-black d-flex p-4" style="height:15rem">
    <div class="h-100 w-25 d-flex flex-column">
        <a class="fw-bold  text-white">About Us</a>
        <a class="text-secondary">About instaSell group</a>
        <a class="text-secondary">Careers</a>
        <a class="text-secondary">Contacts</a>
        <a class="text-secondary"></a>
    </div>
    <div class="h-100 w-25 d-flex flex-column">
        <a class="fw-bold  text-white">instaSell</a>
        <a class="text-secondary">Help</a>
        <a class="text-secondary">Site Map</a>
        <a class="text-secondary">Legal and privacy information</a>
        <a class="text-secondary">Blog</a>
    </div>

    <div class="h-100 w-25 d-flex flex-column">
        <a class="fw-bold  text-white">Explore</a>
        <a class="text-secondary">Latest Listings</a>
        <a class="text-secondary">Trending Products</a>
        <a class="text-secondary">Local Shops</a>
        <a class="text-secondary">Mobile App</a>
    </div>
    <div class="h-100 w-25 d-flex flex-column">
        <a class="fw-bold  text-white">Legal</a>
        <a class="text-secondary">Terms of Service</a>
        <a class="text-secondary">Privacy Policy</a>
        <a class="text-secondary">Cookie Policy</a>
        <a class="text-secondary">Accessibility</a>
    </div>
    

</div>