<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/navbar.css">

    <% if(title==='Profile' ){ %>
        <link rel="stylesheet" href="/css/profile.css">

        

            <% }else if(title==='Sell a product' ){ %>
                <link rel="stylesheet" href="/css/sell.css">

                <% } %>


</head>