<%- include('partials/head.ejs') %>
    <%- include('partials/navbar.ejs') %>




        <h1 class=" mt-4 fw-bold" style="margin-left: 7.10rem;">Sell your product</h1>
        <!-- <hr class="w-55 ms-5 me-5"> -->
        <div class="container  mt-4 d-flex">

            <div class="col-8 main-container">

                <form id="sell-form" class="form-group">

                    <div class="form-floating my-2 sell-form-input">
                        <input name="title" type=" text" class="form-control" id="sell-form-title" placeholder="Title"
                            required>
                        <label for="sell-form-title" class="form-label">Title</label>
                    </div>
                    <div class="input-group my-2">

                        <div class="" style="width: 50%;">
                            <!-- <input name="category" type="text" class="form-control" placeholder="Category"
                    id="form-category" required>
                    <label for="form-category" class="form-label">Category</label> -->
                            <select name="category" class="form-select" aria-label="Default select example" required>
                                <option selected>Category</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                        <div style="width: 50%;">
                            <select name="subCategory" class="form-select" aria-label="Default select example" required>
                                <option selected>Sub Category</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>

                        </div>
                        <!-- <div class="form-floating">
                    <input name="secondName" type="text" class="form-control" placeholder="Surname"
                    id="form-surname" required>
                    <label for="form-surname" class="form-label">Surname</label>
                </div> -->
                    </div>



                    <div class="form-floating my-2">
                        <input name="location" type="text" class="form-control" placeholder="Location"
                            id="sell-form-location" required>
                        <label for="sell-form-location" class="form-label" required>Location</label>
                    </div>



                    <div class="form-floating my-2">
                        <input name="price" type="text" class="form-control" placeholder="price" id="sell-form-price"
                            required>
                        <label for="sell-form-price" class="form-label" required>Price</label>
                    </div>




                    <div class="form-floating">
                        <textarea name="description" class="form-control" placeholder="Leave a comment here"
                            id="floatingTextarea2" style="height: 100px" required></textarea>
                        <label for="floatingTextarea2">Description</label>
                    </div>







                    <div class="details-input-container pt-3">

                        <label for="form-details" class="form-label">Details</label>

                        <div class="input-group ">

                            <div class="mb-1 w-50">
                                <input type="text" class="form-control" name="" id="form-details" placeholder="Year"
                                    disabled value="Year">
                            </div>
                            <div class="mb-1 w-50">
                                <input type="text" class="form-control" name="" placeholder="Eg: 2015,2020" required>
                            </div>
                        </div>



                    </div>
                    <button type="button" class="btn btn-secondary outline-black-btn plus-btn mb-3"
                        data-bs-toggle="tooltip" data-bs-placement="right" id="add-detail"
                        title="You can add your own detatils, field and value.">+</button>











                    <button id="post-btn" class="sign-up-btn mt-2 mb-5" type="submit">Post Product</button>

                </form>

            </div>

            <div class="col-4 px-4 pt-2">

                <div class="mb-2">
                    <label for="formFileMultiple" class="mb-2 fs-4 fw-lighter">Add Images</label>
                    <input class="form-control" type="file" id="formFileMultiple" multiple>
                </div>
                <div class="w-100 border img-container" style="min-height: 50%;"></div>

            </div>


        </div>



        <script src="/dist/sell.js"></script>
        <%- include('partials/closingHead.ejs') %>