.main-container{
    display: flex;
    justify-content: space-between;

}

.address-container{
    width: 50%;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0rem;
    color: #ADFF45;
    background-color: black;
    height: 1.8rem;
    font-size: 1.2rem;
}
.content{
    border: 2px solid rgb(163, 163, 163);
    border-top:0px;
}

.request{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #d0ff92;
}
h4{
    padding: 0%;
    margin: 0%;
}

.deselected{
    background-color: rgb(177, 177, 177);
}

.sign-up-btn{
    width: auto
}

.address-card:hover{
    background-color: #ADFF45;
}

.checkout-container{
    width:30rem ;
    height: calc(100vh - 56px - 3rem);

}
.img-container{
    width: 100%;
    height: 15rem;
    overflow: hidden;
}

.img-container img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
