.nav-section{

    border-right: 2px solid #ADFF45;
    height: 91.95vh
    

}

.nav-item{
    display: flex;
    align-items: center;
    justify-content: end;
    height: 10%;
    padding-right: 10px;
    

}

.nav-item:first-child{
    margin-top: 5rem;
}

h4,h2{
    margin: 0px;
    padding: 0px;
}
.header{
    height: 5.1rem;
    display: flex;
    align-items: end;
    border-bottom: 2px solid #ADFF45;
    padding-left: 2rem;
}

.basic-info-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.basic-info-section h4{
    align-self: flex-start;
    /* margin: 0.5rem;
    margin-left: 10rem; */

    
}

.main-container{
    height: 80vh;
    overflow: auto;

}

#form-container{
    display: flex;
    flex-direction: column;
    position: relative;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}
#profilePicture{
    position: absolute;
    align-self: flex-end;
    display: inline-block;
    top: 4.8%;
    right: 7%;
    height: 27%;
    width: 30%;

}

#profilePicture>label{
    position: absolute;
    top: 85%;
    left: 85%;
    height: 2rem;
    width: 2rem;
    border: 1px solid black;
    box-shadow: 0.5px 0.5px 10px rgba(0, 0, 0, 0.187);
    background-color: #ffffff;
}
#profilePicture>label:hover{
   cursor: pointer;
   background-color: #808080;
}

#profilePicture>label>svg{
    
    padding: 2.25px;
    margin-top: 3px;
    margin-left: 3px;
    position: absolute;
}
#profilePicture>img{
    object-fit: contain;
    height: 100%;
    width: 100%;
}

#current-addresses{
    width: 25rem;
    min-height: 10rem;
    /* background-color: #ADFF45; */
    position: absolute;
    right: -1rem;
}

.address-card{
    display: flex;
    flex-direction: column;
    position: relative;
}

.address-card>a{
position: absolute;
align-self: flex-end;
border: 1px solid black;
top: 75%;
right: 4%;
}


