:root {
    --font-size: 18px;
    --colour-primary: #ADFF45
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/poppins-regular-webfont.woff') format('woff2'); /* Adjust the path and font format as needed */
    font-weight: normal;
    font-style: normal;
  }

body {
    font-family: 'Poppins',sans-serif;
    font-size: 1rem;
}

.login-form-container{
    width: 50vw;
    border: 1.5px solid #ADFF45;
    padding: 2rem;
    box-shadow: 1px 1px 20px #aeff459f;

   
}

.form-control, .form-select{
    border: 1px solid rgba(0, 0, 0, 0.172);
    border-radius: 0px;
    
}

.form-control:focus, .form-select:focus{
    border: 2px solid #ADFF45;
    box-shadow: 1px 1px 20px #aeff459f;

}

#tospara{
    /* margin-top: 10px; */
    padding: 5px;
    color: #7b7b7b;
}

.sign-up-btn, .btn-green-default{
    background-color: #ADFF45;
    color: #000000;
    border: none;
    border-radius: 0px;
    border-style: none;
    box-sizing: border-box;
    box-shadow: 1px 1px 10px #aeff459f;
    padding: 0.5rem 1rem;

}

.sign-up-btn:hover , .btn-green-default:hover{
    background-color: #93dd31;

}

.google-check-btn{
    background-color: #de5246;
    border: none;
    box-shadow: none;
    color: #ffffff;
    border-radius: 0%;

}

.google-check-btn:hover{
    background-color: #e33a2a;

}
.phone-check-btn{
    background-color: #8a8a8a;
    color: #ffffff;
    border-radius: 0px;
    border: none;

}
#verify-para{
    padding: 5px;
    padding-bottom: 0px;
}

.show{
    display: block;
}

.hide{
    display:none;
}

#login-phone-validate-btn{
    background-color: #8a8a8a;
}

#login-phone-validate-btn:hover{
    background-color: #7b7b7b;
}

.profile-dropdown{
    margin-left: 40vw;
}

.btn-black-default{
 
    background-color: #000000;
    color: #ffffff;
    border-radius: 0px;
    border-style: none;
    
    
}

.btn-black-default:hover{
    background-color: #7b7b7b;
}



