.profile-card{
    border: 2px solid #ADFF45;
    border-radius: 0px;
    box-shadow: 0.5px 0.5px 20px #00000022;

    /* border-right: 0px; */
}

.profile-main-container{
    border: 2px solid #ADFF45;
    height: 38vw;
    overflow: scroll;
    box-shadow: 0.5px 0.5px 20px #00000022;
    
}
.profile-nav-item{
    border: 1px solid #ADFF45;
    border-top: 0px;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 1rem;
}

.profile-nav-item:first-child{
    border-top:1px solid #ADFF45 ;
}


.profile-nav-item:hover{
    transition: 150ms;
    background-color: #ADFF45;
}

.active{
    background-color: #ADFF45;
}

.profile-picture{
    border-radius: 50%;
}

.profile-nav-container{
    /* margin-top: 1.5rem;
    margin-left: 15.7rem; */
    align-self: flex-end;
    width: 85%; 
    margin-left: 15%;
    margin-top: 2rem;
    color: black;
    box-shadow: 0.5px 0.5px 20px #00000022;



}

a{
    color: black
}

.list-card{
    width: 100%;
    height: auto;
    padding: 1rem;
    border: 1px solid #ADFF45;
    border-radius: 0px;
}

.grid-container{
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
}

.list-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0.1px 0.1px 10px rgba(0, 0, 0, 0.1);
}

.img-continer{
    width: 16rem;
    height: 12rem;
}

.list-card-img{
    object-fit: contain;
    width: 100%;
    height: 100%;

}

.card-price{
    align-self: flex-start;
    padding-top: 10px;
    font-size: 1.2rem;
    margin-top: 1rem;
    font-weight:bold;
}

.card-title{
    align-self: flex-start;
    font-size: 1.2rem;
    margin-top: 0.4rem;
}