.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.request-container{
    width: 80%;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0rem;
    color: #ADFF45;
    background-color: black;
    height: 1.8rem;
    font-size: 1.2rem;
}
.content{
    border: 2px solid rgb(163, 163, 163);
    border-top:0px;
}

.request{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 1rem;
    background-color: #d0ff92;
}
h4,h5,h3{
    padding: 0%;
    margin: 0%;
}

.deselected{
    background-color: rgb(177, 177, 177);
}